<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carrier Pigeon</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main_app/css/master.css' %}">
</head>
<body>
<body id="login-page" class="text-center" cz-shortcut-listen="true">
    <h1 class="mb-4 logo-font">Carrier Pigeon</h1>
    <div class="width-20percent mx-auto">
        <img src="{% static 'main_app/icons/carrier_pigeon.png' %}" class="mb-5" alt="Logo" width="152" height="152">
        <p class="lead mb-5">Send Your Carrier Pigeon Anywhere and Await a Reply</p>
        <form action="/login" method="POST">
        {% csrf_token %}
        <button class="btn btn-md btn-outline-dark btn-block" type="submit">Proceed</button>
        </form>
    </div>
<div class="font-size-small mt-5"><div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div></div>
</body>

</body>
</html>