<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Question</title>
     {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main_app/css/master.css' %}">
</head>
<body id="reply-page">
    {% if question.creator == user %}
        {% if question.answer %}
            <div class="m-0">
            <h2 class="header mb-3 m-0 text-center">{{ question.title }}</h2>
            <div class="card">
              <div class="card-body" style="height: 580px; overflow-y: scroll">
                    <h4>Your Question: {{ question.title }}</h4>
                    <p class="mt-4 ml-5 font-size-medium">>> {{ question.question }}</p>
                    <p class="mt-3">Date You Sent the Carrier Pigeon: {{ question.created_at }}</p>
                    <h4 class="mt-4">You got an Answer from {{ question.answerer.username }}</h4>
                    <p class="mt-4 ml-5 font-size-medium">>> {{ question.answer }}</p>
                    <p class="mt-3">Date Your Carrier Pigeon Came Back: {{ question.updated_at }}</p>
                </div>
                <div class="card-body">
                    <a href="/home" class="btn btn-danger">Go Back</a>
                    <a href="/action_question_delete/{{ question.id }}" class="btn btn-danger">Forget</a>
                </div>
              </div>
            </div>
        {% else %}
            <div class="m-0">
            <h2 class="header mb-3 m-0 text-center">{{ question.title }}</h2>
            <div class="card">
              <div class="card-body" style="height:580px; overflow-y: scroll">
                    <h4>Your Question: {{ question.title }}</h4>
                    <p class="mt-4 ml-5 font-size-medium">>> {{ question.question }}</p>
                    <p class="mt-4">Date You Sent The Carrier Pigeon: {{ question.created_at }}</p>
                    <div class="text-center" style="margin-top: 200px;">
                        <p class="display-3">😢</p>
                        <p class="mt-3 lead">Your Carrier Pigeon did not Come Back Yet!</p>
                    </div>
                </div>
                <div class="card-body">
                    <a href="/home" class="btn btn-danger">Go Back</a>
                    <a href="/action_question_delete/{{ question.id }}" class="btn btn-danger">Forget</a>
                </div>
              </div>
            </div>
        {% endif %}
    {% else %}
        {% if question.answer %} <!-- Should not run ever -->
            <p>{{ question.creator.username}}'s question: {{ question.question }}</p>
            <p>{{ question.answerer.username }}'s reply: {{ question.answer }}</p>
            <p class="mt-3">Date Sent: {{ question.updated_at }}</p>
        {% else %} <!-- Should run all the time -->
            <div class="m-0">
            <h2 class="header mb-3 m-0 text-center">{{ question.title }}</h2>
            <div class="card">
              <div class="card-body" style="height:580px; overflow-y: scroll">
                    <h4>To Locals in {{ question.city.city }}...</h4>
                    <p class="mt-4 ml-5 font-size-medium">>> {{ question.question }}</p>
                    <p class="mt-5">Sender: {{ question.creator.username }}</p>
                    <p class="mt-3">Date Sent: {{ question.created_at }}</p>
                    <h4 class="mt-4">To {{ question.creator.username }}...</h4>
                    <form action="/action_answer_create/{{ question.id }}" method="post">
                        {% csrf_token %}
                        <textarea class="mt-4" placeholder="Write Something" name="answer" style="max-height: 200px;"></textarea>
                        <input type="submit" value="Submit" class="btn btn-danger d-block">
                    </form>
                </div>
                <div class="card-body">
                    <a href="/home" class="card-link">Go Back</a>
                </div>
              </div>
            </div>
        {% endif %}
    {% endif %}


</body>
</html>